.blue-frame {
    background-color: #1e2875;
    border: 0.89px solid;
    border-color: #ffffff;
    border-radius: 8.89px;
    height: 77px;
    overflow: hidden;
    position: relative;
    width: 900px;
    color: #ffffff;
    margin-bottom: 20px;
  }
  .blue-frame div {
    font-size: 1.5rem;
    margin: 20px;
  }
  .connected-container {
    display: flex;
    gap: 20px;
  }
  .people-connect {
    margin-top: 50px;
    color: #222222e6;
    font-family: "Outfit-Light", Helvetica;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: normal;
  }
  .recommed-container{
  margin-top: 50px;
  display: flex;
  gap: 20px;
  }