.back-blue-div {
  margin-top: 20px;
  width: 95%;
  height: 169px;
  flex-shrink: 0;
  border-radius: 8.889px;
  border: 0.889px solid #fff;
  background: #1e2875;
  position: relative;
}
.back-blue-div p {
  padding: 10px;
  color: #fff;
  font-family: "Outfit-Medium", Helvetica;
  font-size: 10.667px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.Profile-layout {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
 position:absolute;
top: 50px;
  left: 50px;
  padding: 20px;
  /* width: 80%; */
 height: 100vh;
  flex-shrink: 0;
  border-radius: 8.889px;
  border: 1.778px solid #ebebee;
  background: #fff;
  box-shadow: 0px 3.555555582046509px 5.333333492279053px 0px
    rgba(0, 0, 0, 0.15);
}
.section-1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.profile-upload {
  width: 296px;
  height: 100px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.upload {
  padding: 4.444px 14.222px;
  border-radius: 88.889px;
  background: #f0effa;
  color: rgba(31, 31, 31, 0.8);
  font-family: "Outfit-Medium", Helvetica;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: none;
}
.profile_image{
 width: 60px;
 height: 60px;
 border-radius: 50%;

}

.personal-info {
  width: 296px;
  height: 150px;
  padding: 20px;
  flex-shrink: 0;
  border-radius: 4.444px;
  border: 0.889px solid var(--input-box-stroke-thin, rgba(0, 0, 0, 0.15));
  box-shadow: 0px 1.7777777910232544px 1.7777777910232544px 0px
    rgba(0, 0, 0, 0.1);
}
.div {
  display: flex;
  justify-content: space-between;
}
span {
  color: rgba(31, 31, 31, 0.7);
  font-family: "Outfit-Medium", Helvetica;
  font-size: 10.667px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.about {
  width: 296px;
  height: 80px;
  padding: 20px;
  border: 0.889px solid var(--input-box-stroke-thin, rgba(0, 0, 0, 0.15));
  box-shadow: 0px 1.7777777910232544px 1.7777777910232544px 0px
    rgba(0, 0, 0, 0.1);
  border-radius: 4.444px;
}
.about h6 {
  color: rgba(34, 34, 34, 0.9);
  /* font-family: "Outfit-Regular", Helvetica; */
  font-size: 14.222px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.about span {
  color: #413b89;
  font-family: "Outfit-Medium", Helvetica;
  font-size: 14.222px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.about-1 {
  display: flex;
  justify-content: space-between;
}
.about-1 div {
  display: flex;
  gap: 10px;
}
.about p {
  margin-top: 10px;
  color: var(--inactive-state-color, rgba(73, 69, 79, 0.8));
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Outfit-Regular", Helvetica;
  font-size: 10.667px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.107px;
}

.skill {
  overflow-y: scroll;
  scrollbar-width: thin;
  width: 296px;
  height: 80px;
  padding: 20px;
  border-radius: 4.444px;
  border: 0.889px solid var(--input-box-stroke-thin, rgba(0, 0, 0, 0.15));
  box-shadow: 0px 1.7777777910232544px 1.7777777910232544px 0px
    rgba(0, 0, 0, 0.1);
}

.skill-1 {
  display: flex;
  justify-content: space-between;
}

.skill-1 h6 {
  color: rgba(34, 34, 34, 0.9);
  /* font-family: "Outfit-Regular", Helvetica; */
  font-size: 14.222px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
li {
  padding: 5px 0px;
  list-style-type: none;
  color: rgba(34, 34, 34, 0.9);
  font-family: Outfit;
  font-size: 10.667px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.section-2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.profession {
  width: 250px;
  height: 50px;
  padding: 20px;
  border: 0.889px solid var(--input-box-stroke-thin, rgba(0, 0, 0, 0.15));
  box-shadow: 0px 1.7777777910232544px 1.7777777910232544px 0px
    rgba(0, 0, 0, 0.1);
  border-radius: 4.444px;
}
.profession h6 {
  color: rgba(34, 34, 34, 0.9);
  font-family: "Outfit-Medium", Helvetica;
  font-size: 10.7px;
  font-weight: 500;
  height: 13px;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 10px;
}
.profession img {
  float: right;
}
.profession p {
  color: var(--inactive-state-color, rgba(73, 69, 79, 0.8));
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Outfit-Regular", Helvetica;
  font-size: 10.7px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.107px;
}

.certificate {
  width: 250px;
  height: 50px;
  padding: 20px;
}
.certificate-1 {
  width: 260px;
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}
.program-and-company {
  background-color: var(--secondary-white);
  border: 0.89px solid;
  border-color: var(--dividers-and-borders-grey-light);
  border-radius: 26.67px;
  height: 46px;
  width: 260px;
}
.program-and-company img {
  float: left;
  padding-left: 20px;
  padding-top: 10px;
}
.program-and-company h6 {
  color: #49454fcc;
  font-family: "Outfit-Regular", Helvetica;
  font-size: 12.4px;
  font-weight: 400;
  letter-spacing: 0.12px;
  line-height: normal;
  margin-left: 110px;
  padding-top: 5px;
}
.program-and-company p {
  color: #49454fcc;
  font-family: "Outfit-Regular", Helvetica;
  font-size: 10.7px;
  font-weight: 400;
  /* height: 13px; */
  letter-spacing: 0.11px;
  line-height: normal;
  padding-top: 10px;
  margin-left: 100px;
}
.experience {
  width: 250px;
  height: 100px;
}
.experience-1 {
  width: 291px;
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

.company-profile {
  width: 250px;
  height: 30px;
  padding: 20px;
  border: 0.889px solid var(--input-box-stroke-thin, rgba(0, 0, 0, 0.15));
  box-shadow: 0px 1.7777777910232544px 1.7777777910232544px 0px
    rgba(0, 0, 0, 0.1);
  border-radius: 4.444px;
}
.company-profile img {
  float: right;
}
.duration-and-type {
  color: rgba(34, 34, 34, 0.9);
  font-size: 10.667px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-bottom: 5px;
}
.company-and-position {
  color: #49454fcc;
  font-family: "Outfit-Regular", Helvetica;
  font-size: 10.7px;
  font-weight: 400;
  height: 13px;
  letter-spacing: 0.11px;
  line-height: normal;
}
.education {
  width: 250px;
  height: 100px;
}
.education-1 {
  width: 291px;
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}
.clg-group {
  width: 250px;
  height: 100px;
  padding: 20px;
  flex-shrink: 0;
  border-radius: 4.444px;
  border: 0.889px solid var(--input-box-stroke-thin, rgba(0, 0, 0, 0.15));
  box-shadow: 0px 1.7777777910232544px 1.7777777910232544px 0px
    rgba(0, 0, 0, 0.1);
}
.clg {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
.duration {
  color: rgba(34, 34, 34, 0.9);
  font-size: 10.667px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.branch {
  color: rgba(34, 34, 34, 0.9);
  font-size: 10.667px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.description {
  color: var(--inactive-state-color, rgba(73, 69, 79, 0.8));
  font-variant-numeric: lining-nums proportional-nums;
  /* font-family: "Outfit-Regular", Helvetica; */
  font-size: 10.667px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.107px;
}
.editbuttons {
  color: var(--Dark---All-Content, rgba(31, 31, 31, 0.8));
  font-family: "Outfit-Medium", Helvetica;
  font-size: 6.459px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 64.587px;
  background: #f0effa;
  padding: 8px 15px;
  border: none;
}

.input-button button {
  border-radius: 12px;
  border: 1px solid;
  padding: 1px;
}
@media only screen and (max-width: 600px) {
  .Profile-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 325px;
    height: 1205px;
  }
  
  .back-blue-div {
    height: 100px;
  }
}
