.content-layout {
  width: 75vw;
  height: 85vh;
  position: absolute;
  top: 15vh;
  left: 25vw;
  background: #fafbff;
  overflow-y: scroll;
  scrollbar-width: thin;
}
@media only screen and (max-width: 600px) {
  .content-layout {
   overflow-y: visible;
    position: absolute;
    left: 0vw;
  }
}
